@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Imperial Script", cursive;
font-family: "Poppins", sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e2d9c8;
}
#header-container{
    max-width: 85%;
    height: 700px;
    margin: 50px auto;
    background-image: url(/images/coffee-bg.jpg);
    background-size: cover; 
}

.logo img{
    width: 100px;
    margin-left: 25px;
    opacity: 95%;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
    align-items: center;
}

.nav-menu a{
    text-decoration: none;
    font-family: poppins;
    font-size: 16px;
    color: #ffffffe5;
    font-weight: 500;
    margin-right: 50px;
}

.heading-section{
    margin-left: 200px;
    margin-top: 100px;
}

.heading-section h1{
    color: rgba(255, 255, 255, 0.911);
    font-family: poppins;
    font-weight: 700;
    font-size: 38px;
}

.welcome{
    font-size: 28px;
    font-weight: 500;
}

.heading-order-button button{
    background-color: white;
    padding: 14px 28px;
    border-radius: 100px;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 600;
}

.shop-container{
    max-width: 85%;
    background-color: white;
    margin: 100px auto;
}

.item-title h3{
    text-align: center;
    font-family: poppins;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 40px;
}

.coffee-card-section{
    display: flex;
    justify-content: space-evenly;
}

.coffee-card{
    background-color: rgba(226, 217, 200, 0.185);
    border: 3px solid rgba(226, 217, 200, 0.048);
    max-width: 20.5%;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 80px;
    /* padding: 5px; */
}

.coffee-img{
    margin: 10px auto;
    text-align: center;
}
.coffee-img img{
    width: 300px;
    height: 500px;
    border-radius: 10px;          
}   

.coffee-card h3{
    font-family: poppins;
    margin-left: 6px;
}

.coffee-card p{
    font-family: poppins;
    font-size: 12px;
    font-weight: 500;
    margin-left: 6px;
}

.pricing-section {
    display: flex;
    justify-content: space-between;
    margin: 10px 4px;
    align-items: center;
}

.pricing-section h3{
    font-size: 24px;
    margin-top: 10px;
    color: rgb(44, 5, 0);
}

.btn{
    background-color: rgb(44, 5, 0);
    color: white;
    font-family: poppins;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 600;
    margin-right: 10px;
}