@media screen and (max-width: 500px) {

    #header-container {
        height: 400px;
        background-image: url(Coffee-bg-final-for-responsive.gif);
        background-size: cover;
        
    }

    .logo img {
        width: 60px;
        margin-left: 0px;
    }

    .nav-menu {
        display: none;
    }

    .heading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.welcome{
    font-size: 20px;
}
.heading-section h1{
    font-size: 18px;
    text-align: center;
    margin-top: 70px;
}

.heading-order-button button {
    padding: 10px 20px;
    font-size: 14px;
}

.coffee-card {
    width: 150px;
    padding: 5px;
}

.coffee-card img {
    height: 200px;
    border-radius: 10px;
}

.coffee-card h3{
    font-size: 12px;
    margin-top: 0;
}

.coffee-card p {
    font-size: 8px;
}

.btn {
    padding: 5px 10px;
    font-size: 8px;
    margin-top: 0;
    margin-right: 0;
}

}